@import "bootstrap_imports";

body {
  background-color: #302429;
}

header {
  background-image: url('/images/slider_3.jpg');
  background-size: cover;
  height: 425px;
  overflow: hidden;

  .logo {
    margin-top: 25px;
    padding-top: 24px;
    font-size: 45px;
    background-image: url('/images/bg_menu.png');
    height: 95px;
    width: 100%;

    a, a:hover {
      color: #eee;
      text-decoration: none;
    }
  }
}

.serverlist {
  color: #eee;
  background-color: #444;

  & tbody tr td, & tbody tr th, & thead tr th {
    border: none;
  }
}

.serverlist-filters {
  display: flex;

  select {
    height: 25px;
    width: 90px;
  }
}
